<div class="container">
  <h2 class="session_Title">All Boards</h2>
  <% @boards.each do |board| %>
  <%= render 'commons/board', board: board %>
  <% end %>

  <%= link_to new_board_path do %>
  <div class="board_addNew">
    <div class="board_addNew_link">
      <%= link_to '＋ Add new board', new_board_path(@board), class: 'board_addNew_text'%>
    </div>
  </div>
  <% end %>
</div>