@import 'variables';
$heart-size: 32px;
$avatar-size: 32px;
$container-padding: 16px;

.session_Title {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 36px;
  margin: 10px 20px 20px 8px;
  /* identical to box height */
  color: #000000;
}

.description {
  position: absolute;
  height: 10px;
  left: 20px;
  top: 30px;

  background: #F4F4F4;
  border-radius: 10px;
}


///////* 新しいボード */////////
.board_addNew {
  // position: fixed;
  // width: 362px;
  // height: 161px;

  // left: 30px;
  // bottom: 16px;
  // right: 16px;

  // background: #FFFFFF;
  // border: 1px dashed rgba(0, 0, 0, 0.2);
  // border-radius: 10px;
  // box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

  position: fixed;
  height: 50px;
  width: 90%;
  bottom: 0px;

  left: 50%;
  transform: translateX(-50%);
  margin: 16px auto;

  padding-bottom: 30px;
  background: #fffedf;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

  &_text {
    font-family: cursive !important;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    color: #000000;
    }

  &_link {
    position: absolute;
    height: 25px;
    left: 0.35%;
    right: 0.35%;
    top: calc(50% - 25px/2);
    text-align: center;
  }
}


/////* ボード */////////
.board {
  background-color: white;
  margin: 16px 16px;
  padding: $container-padding $container-padding;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  border-radius: 10px;
  height: auto;
  left: 0px;
  top: 0px;

  &_show {
    background-color: rgb(235, 234, 234);
    margin: 28px 16px;
    padding: $container-padding $container-padding;
    box-shadow: 0px 4px 10px rgba(39, 39, 39, 0.25);
    position: relative;
    border-radius: 10px;
    height: auto;
    left: 0px;
    top: 0px;

    &_paragraph {
      margin-top: 0px;
    }
  }

  &_content {
    padding: 0 0 15px;

    &_eyecatch {
      margin-top: 25px;
      padding: 15px 15px;
      border-radius: 15px;
    }
  }

  &_title {
    position: relative;
    height: 10px;
    margin-top: 10px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;
    /* identical to box height */

    color: #000000;
  }

  &_titlePage {
    position: relative;
    height: 10px;
    margin: 10px 40px 0px 20px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 25px;
    /* identical to box height */

    color: #000000;
  }


  &_image {
    height: 180px;
    position: relative;
    overflow: hidden;
    margin: $container-padding -9 $container-padding * 0 $container-padding;
  
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }


  h2 {
    font-size: 16px;
  }

  &_paragraph {
    margin-top: 20px;
  }

  &_comment {
    padding: 12px 0;
  }

  &_heart {
    position: absolute;
    right: 16px;
    bottom: 16px;
    img {
      width: $heart-size;
      height: $heart-size;
    }
  }
}



// .board {
// background-color: white;
//     margin: 16px 16px;
//     padding: 16px 16px;
//     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
//     position: relative;
//     border-radius: 10px;
// }

// .board_detail {
// padding-top: 10px;
// display: flex;
// font-size: 12px;
// position: relative;
// }

// .board_content {
//   padding: 24px 0 32px;
// }