@import './variables';
$image_size: 56px;

.card {
  position: relative;
  height: 180px;
  left: 0px;
  top: 0px;

  padding-bottom: 30px;

  background-color: white;
  margin: 16px 16px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

}

.card_details {
  position: absolute;
  bottom: 10px;
  left: 10px;

  &_user {
    display: flex;

    &_image {
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        width: $image_size;
        height: $image_size;
        border-radius: 30px;
      }
    }
  }
}

.card_content {
  position: absolute;
  height: 10px;
  left: 20px;
  right: 20px;
  padding-top: 40px;

  p {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }
}

