/* ドロップダウンの作成 */
@import 'variables';

$base-bg-color: #e2d1c1;



.board_detail_actions {
  right: 0px;
  top: -15px;
  position: relative;
  padding-bottom: 20px;
}

// .board_detail img.dropbtn {
//   margin-right: 0px;
// }


.dropdown {
  position: absolute;
  right: 20px;
  top: 0px;

  img {
    cursor: pointer;
    width: 25px;
    height: 25px;
  }
}

.dropbtn {
  border: none;
}


/* .toggle-list要素を絶対位置に指定し、z-indexを設定 */
.toggle-list {
  z-index: 5;
  position: absolute;
  padding: 0;
  top: 30px;
  right: 0px;
  display: none;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.301);
  transition: color .3s,background .3s,transform .3s,opacity .3s,border .3s,padding .3s,left .3s,bottom .3s,box-shadow .3s;

  &.mini {
    min-width: 100px;
    right: 0px;
    // width: none;
  }

  .toggle-subtitle {
    position: relative;
    // text-align: center;
    display: block;
    line-height: 0.7rem;

    a {
      padding: 8px 24px 6px 18px;
      display: block;
      background-color: #ffefe0;
      font-size: 0.9rem;
      font-weight: 400;
      border-radius: 2px;
      height: auto;
      width: 100%;
      transition: color .3s,background .3s,transform .3s,opacity .3s,border .3s,padding .3s,left .3s,bottom .3s,box-shadow .3s;
    }
  }
}



/////////////////////
// ヘッダーのアバター //
/////////////////////

.header-toggle-list {
  z-index: 1;
  position: absolute;
  padding: 0;
  top: 50px;
  display: none; /* 初期状態は非表示 */
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.301);
  transition: color .3s,background .3s,transform .3s,opacity .3s,border .3s,padding .3s,left .3s,bottom .3s,box-shadow .3s;

  // z-index: 1;
  // position: absolute;
  // padding: 0;
  // top: 50px;
  // display: none;/*はじめは非表示*/
  // background: #fff;
  // border-radius: 2px;
  // box-shadow: 0 0 14px rgba(0, 0, 0, 0.301);
  // transition: color .3s,background .3s,transform .3s,opacity .3s,border .3s,padding .3s,left .3s,bottom .3s,box-shadow .3s;

  &.mini {
    min-width: 100px;
    right: 0px;
    // width: none;
  }

  .header-toggle-subtitle {
    position: relative;
    // text-align: center;
    display: block;
    line-height: 0.7rem;

    a {
      padding: 10px 6px 10px 6px;
      text-align: center;
      top: 30px;
      display: block;
      background-color: #ffefe0;
      font-size: 0.9rem;
      font-weight: 400;
      border-radius: 2px;
      height: auto;
      width: 100%;
      transition: color .3s,background .3s,transform .3s,opacity .3s,border .3s,padding .3s,left .3s,bottom .3s,box-shadow .3s;
    }
  }
}

.header_details_user_image img {
  cursor: pointer;
  z-index: 2;
}

// .header-toggle-list {
//   z-index: 5;
//   position: absolute;
//   padding: 0;
//   top: 50px;
//   display: block;
//   background: #fff;
//   opacity: 0;
//   border-radius: 2px;
//   box-shadow: 0 0 14px rgba(0, 0, 0, 0.301);
//   transition: color .3s,background .3s,transform .3s,opacity .3s,border .3s,padding .3s,left .3s,bottom .3s,box-shadow .3s;

//   &.mini {
//     min-width: 100px;
//     right: 0px;
//     // width: none;
//   }

//   .header-toggle-subtitle {
//     position: relative;
//     // text-align: center;
//     display: block;
//     line-height: 0.7rem;

//     a {
//       padding: 10px 6px 10px 6px;
//       text-align: center;
//       top: 30px;
//       display: block;
//       background-color: #ffefe0;
//       font-size: 0.9rem;
//       font-weight: 400;
//       border-radius: 2px;
//       height: auto;
//       width: 100%;
//       transition: color .3s,background .3s,transform .3s,opacity .3s,border .3s,padding .3s,left .3s,bottom .3s,box-shadow .3s;
//     }
//   }
// }