/* ドロップダウンの作成 */
@import 'variables';
$base-bg-color: #e2d1c1;


.board_detail_actions {
  right: 0px;
  top: 30px;
  position: absolute;
}

// .board_detail img.dropbtn {
//   margin-right: 0px;
// }


.dropdown {
  // position: relative;
  // display: inline-block;
  position: absolute;
  right: 20px;
  top: 0px;

  img {
    width: 25px;
    height: 25px;
  }
}

.dropbtn {
  border: none;
}


/* .toggle-list要素を絶対位置に指定し、z-indexを設定 */
.toggle-list {
  z-index: 5;
  position: absolute;
  padding: 0;
  top: 50px;
  display: block;
  background: #fff;
  opacity: 0;
  border-radius: 2px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.301);
  transition: color .3s,background .3s,transform .3s,opacity .3s,border .3s,padding .3s,left .3s,bottom .3s,box-shadow .3s;

  &.mini {
    min-width: 100px;
    // width: none;
  }

  .toggle-subtitle {
    position: relative;
    // text-align: center;
    display: block;
    line-height: 0.7rem;

    a {
      padding: 8px 24px 6px 18px;
      display: block;
      background-color: #ffefe0;
      font-size: 0.9rem;
      font-weight: 400;
      border-radius: 2px;
      height: auto;
      width: 100%;
      transition: color .3s,background .3s,transform .3s,opacity .3s,border .3s,padding .3s,left .3s,bottom .3s,box-shadow .3s;
    }
  }
}



.header-toggle-list {
  z-index: 5;
  position: absolute;
  padding: 0;
  top: 50px;
  display: block;
  background: #fff;
  opacity: 0;
  border-radius: 2px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.301);
  transition: color .3s,background .3s,transform .3s,opacity .3s,border .3s,padding .3s,left .3s,bottom .3s,box-shadow .3s;

  &.mini {
    min-width: 100px;
    // width: none;
  }
  .header-toggle-subtitle {
    position: relative;
    // text-align: center;
    display: block;
    line-height: 0.7rem;

    a {
      padding: 10px 6px 10px 6px;
      text-align: center;
      top: 30px;
      display: block;
      background-color: #ffefe0;
      font-size: 0.9rem;
      font-weight: 400;
      border-radius: 2px;
      height: auto;
      width: 100%;
      transition: color .3s,background .3s,transform .3s,opacity .3s,border .3s,padding .3s,left .3s,bottom .3s,box-shadow .3s;
    }
  }
}

// .dropdown-content {
//   z-index: 5;
//   position: absolute;
//   padding: 0;
//   top: 30px;
//   display: block;
//   background: #fff;
//   opacity: 0;
//   border-radius: 2px;
//   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
//   transition: color .3s,background .3s,transform .3s,opacity .3s,border .3s,padding .3s,left .3s,bottom .3s,box-shadow .3s;
// }
// //   font-weight: normal;
// //   display: none;
// //   position: relative;
// //   left: 0px;
// //   background-color: white;
// //   min-width: 160px;
// //   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
// //   z-index: 1;

// //   &.mini {
// //     min-width: 100px;
// //   }
// // }

// .dropdown-content a {
//   padding: 16px 8px;
//   text-decoration: none;
//   display: block;
//   color: $text-base-color;
// }

// .dropdown-content a:hover {
//   background-color: white;
// }

// .dropdown:hover .dropdown-content {
//   display: block;
// }