input, select {
  margin-top: 5px;

  &.text {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    padding: 16px 24px;
    border: 1px solid #EBEBEB;
    background: #F4F4F4;
    border-radius: 10px;
  }
}

.eyecatch {
  margin-top: 10px;
  margin-bottom: 20px;
}

label {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 36px;
  margin: 20px 0px 25px;

  font-size: 12px;
  margin-bottom: 20px;
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.field {
  margin: 3% 0;
  margin-top: 20px;
}

textarea {
  width: 100%;
  margin: 8px 0px;
  padding: 8px 8px;
  min-height: 440px;
  resize: vertical;
  border: 1px solid #EBEBEB;
}

.session_title {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 36px;
  margin: 20px 0px 25px;
  /* identical to box height */


  color: #000000;
}

.actions {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.btn-primary {
  display:block;
  margin:0 auto;
  margin-top: 20px;

  width: 90%;
  height: 40px;

  background-color: #F8BD1C;
  border-radius: 4px;
  border:none;

  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */
  color: #FFFFFF;
}


