@import 'variables';

$avatar-size: 40px;
$header-padding-y: 16px;
$back-icon-size: 16px;


.header {
  display: flex;
  justify-content: space-between;
  padding: $header-padding-y 16px;
  font-weight: bold;

  border-bottom:solid
  #cccccc 1px;

  a {
    color: white;

    &_pageTitle {
      position: absolute;
      width: 56px;
      height: 25px;
      left: 30px;
      top: 17px;
      
      font-family: 'Avenir';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      /* identical to box height */
      
      
      color: #000000;
    }
  }
}