@import 'variables';

$avatar-size: 36px;
$header-padding-y: 16px;
$back-icon-size: 16px;


.header {
  display: flex;
  justify-content: unset;
  padding: $header-padding-y $header-padding-y;
  font-weight: bold;

  border-bottom:solid
  #a8a8a8 1px;

  &_pageTitle {
    padding-left: 10px;
    color: #616161;
    }
  }

.header_details {
    position: absolute;
    bottom: 10px;
    left: 10px;
  
    &_user {
      display: flex;
  
      &_image {
        display: flex;
        flex-direction: column;
        justify-content: center;
  
        img {
          width: $avatar-size;
          height: $avatar-size;
          border-radius: 30px;
          right: 10px;
          margin-top: -8px;
        }
      }
    }
  }

  .header_dropdown {
    position: absolute;
    right: 20px;
    top: 0px;

    &_image {
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        border-radius: 30px;
        width: $avatar-size;
        height: $avatar-size;
        right: 0;
      }
    }
  }

  a.header_loginBtn {
    background-color: #fff;
    height: $avatar-size;
    border-radius: 8px;
    font-size: 12px;
    padding: 12px 16px;
    color: #616161;
  }

  .header_avatar_dropbtn {
    position: absolute;
    right: 30px;
    top: 17px;
  }

  .login {
    margin: 0 0 0 auto;
    padding: 0px 5px;
  }